<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div sec:authorize="isAuthenticated()" > WelCome</div>
        <span sec:authentication="name" >Username</span>
               
        <div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
            <a href="/new">Create New Product</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            Welcome <b><span sec:authentication="name">Username</span></b>
            &nbsp;
            Bạn đã đăng nhập với quyền
            <p th:each="authority : ${#authentication.getAuthorities()}"
       th:text="${authority.getAuthority()}">
    </p>
        </div>
    </div>
</body>
</html>